useDynLib(ADaCGH2, .registration = TRUE)
## useDynLib(ADaCGH2, ad_rConvAndPeak, ad_rPulseConv,
##           ad_rWConvAndPeak, ad_rThresAndUnify)

export("pSegmentDNAcopy",
       "pSegmentWavelets",
       "pSegmentHMM",
       "pSegmentBioHMM",
       "pSegmentGLAD",
       "pSegmentCGHseg",
       "pSegmentHaarSeg",
       "pChromPlot",
       "inputToADaCGH",
       "outputToCGHregions",
       "cutFile")

importFrom("parallel", clusterApply, mclapply, stopCluster)
importFrom("DNAcopy", getbdry)
importFrom("tilingArray", segment)
importFrom("snapCGH", fit.model)
importFrom("aCGH", mergeLevels, create.aCGH, find.hmm.states, "hmm<-")
importFrom("GLAD", daglad.profileCGH)
importFrom("waveslim", modwt, imodwt)
importFrom("cluster", pam)
importFrom("ffbase", min.ff, max.ff)
