useDynLib(ADaCGH2, .registration = TRUE)
## useDynLib(ADaCGH2, ad_rConvAndPeak, ad_rPulseConv,
##           ad_rWConvAndPeak, ad_rThresAndUnify)

export("pSegmentDNAcopy",
       "pSegmentWavelets",
       "pSegmentHMM",
       "pSegmentBioHMM",
       "pSegmentGLAD",
       "pSegmentCGHseg",
       "pSegmentHaarSeg",
       "pChromPlot",
       "inputToADaCGH",
       "outputToCGHregions",
       "cutFile")
       ## "tempdir2",
       ## "convertAndSave")




